img{
    margin-top: 80px;
  margin-left: 90px;
  }
  p{
    margin-left:90px ;
  }
  .img-1{
         height: 600px;
         width: 600px;
  }
  .container2{
    margin-left: 60rem;
  }
  .login{
    margin-bottom: 500px;
    margin-right: 40px;
  }
  .heading{
    color: white;
  }